<ion-content [fullscreen]="true">
    <div id="container">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-input type="text" value="0" readonly id="display" [(ngModel)]="numeroDisplay"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button color="tertiary" expand="block" (click)="perCent()">%</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="danger" expand="block" (click)="deleteCurrent()">CE</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="danger" expand="block" (click)="reiniciar()">C</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="danger" expand="block" (click)="backSpace()">⌫</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button color="tertiary" expand="block" (click)="byOne()">1/x</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="tertiary" expand="block" (click)="pow()">x²</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="tertiary" expand="block" (click)="square()">√</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="tertiary" expand="block" (click)="definirOperacao('/')">/</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button color="light" expand="block" (click)="registrarNumero('7')">7</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="light" expand="block" (click)="registrarNumero('8')">8</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="light" expand="block" (click)="registrarNumero('9')">9</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="tertiary" expand="block" (click)="definirOperacao('*')">*</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button color="light" expand="block" (click)="registrarNumero('4')">4</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="light" expand="block" (click)="registrarNumero('5')">5</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="light" expand="block" (click)="registrarNumero('6')">6</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="tertiary" expand="block" (click)="definirOperacao('+')">+</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button color="light" expand="block" (click)="registrarNumero('1')">1</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="light" expand="block" (click)="registrarNumero('2')">2</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="light" expand="block" (click)="registrarNumero('3')">3</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="tertiary" expand="block" (click)="definirOperacao('-')">-</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button color="warning" expand="block" (click)="opposite()">±</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="light" expand="block" (click)="registrarNumero('0')">0</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="warning" expand="block" (click)="decimal()"><strong>,</strong></ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="dark" expand="block" (click)="calcular()">=</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
