#display{
  text-align: right;
  border: 3px solid #656565;
  background-color: rgba(185,185,185,0.26);
  font-size: 28px;
  line-height: 30px;
  color: #2a2a2a;
}

#container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 55%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
