<ion-header [translucent]="true">
    <ion-toolbar color="medium">
        <ion-title>
            Calculadora de Idade
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label>Data de Nascimento</ion-label>
                    <ion-datetime id="display" display-timezone="utc" display-format="DD/MM/YYYY" max="{{getDate()}}"
                                  doneText="Confimar" cancelText="Cancelar" [(ngModel)]="birthDay" required></ion-datetime>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button color="medium" expand="block" (click)="calcular()">Calcular</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>Sua idade em:</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>Dias:</ion-label>
                    <ion-input type="number" id="dias" value="0" [(ngModel)]="daysAge" readonly></ion-input>
                </ion-col>
                <ion-col>
                    <ion-label>Horas:</ion-label>
                    <ion-input type="number" id="horas" value="0" [(ngModel)]="hoursAge" readonly></ion-input>
                </ion-col>
                <ion-col>
                    <ion-label>Minutos:</ion-label>
                    <ion-input type="number" id="minutos" value="0" [(ngModel)]="minutesAge" readonly></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>Próximo aniversário é daqui:</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>Dias:</ion-label>
                    <ion-input type="text" id="diasResultado" readonly [(ngModel)]="daysNextBirthDay"></ion-input>
                </ion-col>
                <ion-col>
                    <ion-label>Dia da semana:</ion-label>
                    <ion-input type="text" id="diaSemana" readonly [(ngModel)]="weekDayNextBirthDay"></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
